.card {
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    margin: 20px 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}
@media (min-width: 768px) {
    .card {
        padding: 20px;
        margin: 20px;
    }
}

.card:hover {
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card header {
    margin-bottom: 10px;
}

.card header h3 {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.text {
    text-align: left;
}

.buttons {
    margin-top: 16px;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 12px;
    text-decoration: none;
    color: #fff;
    background-color: var(--purple);
    border-radius: 5px;
    opacity: 0.7;
    transition: all 0.5s;
}

.button:hover {
    opacity: 1;
    transform: scale(1.05);
}

@media (prefers-color-scheme: light) {
    .card {
        background-color: whitesmoke;
        color: #2b2b2b;
    }
    .card:hover {
        background-color: ghostwhite;
    }
}
