@import url(https://fonts.bunny.net/css?family=abhaya-libre:600|overpass-mono:300);

:root {
  font-family: 'Overpass Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f9f9f9;
  background-color: #161618;

  --widget-primary-colour: #495867;
  --widget-gradient-colour: #495867;
  --widget-hover-primary : #6A7F94;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
  font-family: 'Abhaya Libre', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
  button {
    background-color: #f9f9f9;
  }
}
